#topics {
    display:block;

    .topics-title {
        height: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        h1 {
            font-family: $ff-title;
            font-weight: lighter;
            color: #060A24;
            padding-bottom: 30px;

            @media (max-width: 599px) {
                font-size: 34px;
                padding-top: 1.2rem;
                padding-right: 1rem;
                padding-left: 1rem;
            }
            @media (min-width: 600px) and (max-width: 899px) {
                font-size: 40px;
                padding-top: 1rem;
                padding-right: 4rem;
                padding-left: 1.5rem;
            }
            @media (min-width: 900px) and (max-width: 2560px) {
                font-size: 48px;
                padding-top: 2rem;
                padding-right: 6rem;
                padding-left: 14rem;
            }
        }
    }

    .topics-icons {
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        display: flex;
        text-align: center;
        align-items: center;
        @media (max-width: 599px) {
            display: block;
        }
        @media (min-width: 600px) and (max-width: 899px) {
            display: block;
            justify-self: space-around;

        }
        @media (min-width: 900px) and (max-width: 2560px) {
            display: flex;
            justify-content: space-evenly;
        }

        i {
            @media (max-width: 599px) {
                font-size: 2rem;
            }
            @media (min-width: 600px) and (max-width: 899px) {
                font-size: 3rem;
            }
            @media (min-width: 900px) and (max-width: 2560px) {
                font-size: 4rem;
            }
        }

        h3 {
        font-family: $ff-title;
        font-size: 18px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        }

      
    }
}