.news {
    display: flex;
    width: auto;
    height: 50vh;

    .skew {
        width: 100%;
        height: 45.5vh;
        background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        margin-top: 50px;
        transform: skewY(-2deg)
    }

    .news-container {
        transform: translate(0,-100px);
        transform: skewY(2deg);
        height: 45.5vh;
        background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        
        width: 100%;
        display: block;
        @media (max-width: 599px) {
            margin-top: 12px;  
        }
        @media (min-width: 600px) and (max-width: 899px) {
            margin-top: 16px;
        }
            
        @media (min-width: 900px) and (max-width: 2560px) {
            margin-top: 40px;  
        }

        .news-text {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: $ff-title;
                font-weight: lighter;
                color:white;
                margin-top: 25px;
                @media (max-width: 599px) {
                    font-size: 20px;
                }
                @media (min-width: 600px) and (max-width: 899px) {
                    font-size: 30px;
                }
                @media (min-width: 900px) and (max-width: 2560px) {
                    font-size: 50px;
                }
            }
        }

        .news-button {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            button {
                background-color: #00F3BB;
                font-family: 'IBM Plex Mono', medium;
                line-height: 22px;
                color: #060A24;
                text-align: center;
                letter-spacing: -1px;
                &:hover {
                    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                    color:#FFFFFF;
                    cursor: pointer;
                }
        
                @media (max-width: 599px) {
                    height: 40px;
                    width: 250px;
                    font-size: 18px;  
                }
                @media (min-width: 600px) and (max-width: 899px) {
                    height: 50px;
                    width: 300px;
                    font-size: 20px;  
                }
                @media (min-width: 900px) and (max-width: 2560px) {
                    height: 60px;
                    width: 400px;
                    font-size: 26px;  
                }
            }

        }
    }
}